.about {
	position: relative;
	margin: 300px auto 0;
	background: linear-gradient(0deg, #000, #272727);
  background-size:cover;
  width:900px;
  height:530px;
  padding:60px;
  margin-bottom: 1%;
  margin-top: 5%;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}
.about h2
{
font-size:2em;
font-family: 'Tangerine', serif;
font-size: 36px;
  text-shadow: 4px 4px 4px rgba(75, 102, 209, 0.603);
  color: rgb(255, 240, 240);
}
.about:before, .about:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000,whitesmoke
    );
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.about:after {
	filter: blur(10px);
}

.title {
    color: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:large;
    width: 1000px;
    height: 100px;
    text-align: center;
    margin-bottom: 10%;
    color: white;
}

body li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(120, 223, 134, 0.808);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
  }
  
  body li:nth-child(1){
    left: 15%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    background-color: #fd6767;
  }
  
  
  body li:nth-child(2){
    left: 84%;
    width: 100px;
    height: 100px;
    animation-delay: 2s;
    animation-duration: 12s;
    background-color: #dd8484;
  }
  
  body li:nth-child(3){
    left: 70%;
    width: 70px;
    height: 70px;
    animation-delay: 4s;
    background-color: #e45983;
  }
  
  body li:nth-child(4){
    left: 5%;
    width: 90px;
    height: 90px;
    animation-delay: 0s;
    animation-duration: 18s;
    background-color: #af556c;
  }
  
  body li:nth-child(5){
    left: 90%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    background-color: #ce73c6;
  }
  
  body li:nth-child(6){
    left: 1%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
    background-color: #e670e0;
  }
  
  body li:nth-child(7){
    left: 10%;
    width: 50px;
    height: 50px;
    animation-delay: 7s;
    background-color: #c282e7;
  }
  
  body li:nth-child(8){
    left: 69%;
    width: 100px;
    height: 100px;
    animation-delay: 15s;
    animation-duration: 45s;
    background-color: #7e5cda;
  }
  body li:nth-child(9){
    left: 15%;
    width: 50px;
    height: 50px;
    animation-delay: 2s;
    animation-duration: 35s;
    background-color: #8e8ee2ad;
  }
  
  body li:nth-child(10){
    left: 85%;
    width: 15px;
    height: 15px;
    animation-delay: 0s;
    animation-duration: 11s;
    background-color: #82e0ecc5;
  }
  body li:nth-child(10){
    left: 19%;
    width: 50px;
    height: 50px;
    animation-delay: 0s;
    animation-duration: 11s;
    background-color: #7cf1bb;
  }
  body li:nth-child(11){
    left: 74%;
    width: 100px;
    height: 100px;
    animation-delay: 0s;
    animation-duration: 11s;
    background-color: #a8ee6e;
  }
  body li:nth-child(12){
    left: 3%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-duration: 11s;
    background-color: #f5b46a;
  }
  body li:nth-child(13){
    left: 22%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
    background-color: #da7878;
  }
  
  
  
  @keyframes animate {
  
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
  
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
  
  }
